@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("https://img.s-hawaiianairlines.com/static/images/tripplanning/06-10-interesting-facts-about-hawaii/hero-image.jpg?version=0bf7&sc_lang=en-au&w=1290&hash=6D18B7524E4E1FD4AD619F68F7B0207CD2FB22A7") no-repeat;
  background-size: cover py-5;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.changeme {
  background-color: aliceblue;
}